:root {
	--black: #2b2a2c;
	--gray: #6a696b;
	--gray-light: #dedede;
	--white: #ffffff;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: black;
	background-color: #efefef;
}

h1, h2, h3, h4, h6, h6 {
	margin: 0;
}

p {
	margin: 0 0 1rem;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
}

.header {
	padding: 1.2rem 0;
	position: relative;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user {
	display: flex;
}

.user_avatar {
	border-radius: 50%;
	display: flex;
	box-shadow: 0 0 4px black;
}

.user_avatar:hover {
	box-shadow: 0 0 8px black;
}

.user_content {
	padding-left: 9px;
}

.user_name {
	font-size: 1rem;
	color: var(--black);
	font-weight: bold;
	margin-bottom: 0.2rem;
}

.user_prof {
	font-size: 0.81rem;
	color: var(--black);
	opacity: 0.7;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
}

.nav_link {
	margin-left: 2rem;
	position: relative;
	font-size: 0.9rem;
	color: var(--black);
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.nav_link:hover {
	border-bottom: 1px solid var(--gray);
}

.intro_inner {
	padding-top: 4rem;
	padding-bottom: 6rem;
	position: relative;

	border-bottom: 1px solid #bdbdbd;
}

.intro_content{
	display: flex;
}

.intro_subtitle {
	color: var(--black);
	font-weight: 300;
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

.intro_title {
	color: var(--black);
	font-weight: bold;
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

.intro_text {
	color: var(--black);
	font-size: 1.2rem;
	opacity: 0.7;
}

.social {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
}

.social_link {
	margin-right: 0.75rem;
	text-decoration: none;
}

.social_link:hover {
	transform: translateY(-5px);
	
}

#social_icon {
	box-shadow: 0 0 4px black;
	border-radius: 10px;
}

.btn {
	display: inline-block;
	vertical-align: top;

	border: 1px solid #efefef;
	border-radius: 1.8rem;
	background: none;
	cursor: pointer;

	color: var(--gray);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	box-shadow: 0 0 4px #767676;
   background-color: #fcfcfc;

	width: 10rem;
	height: auto;

	font-size: 0.9rem;
	
	padding: 0.5rem 0.75rem;
}

.btn:hover {
	box-shadow: 0 0 8px #767676;
}

.intro_photo {
	position: absolute;
	width: 34rem;
	margin: -4.8rem 0;
	right: 0%;
	z-index: 2;
	border-radius: 7px;
	box-shadow: 0 0 4px black;
 }

 .intro_photo:hover {
	box-shadow: 0 0 8px black;
 }

 .text_center {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	text-align: center;
	font-size: 2.8rem;
	color: var(--black);
	font-weight: bold;
	text-transform: uppercase;
 }

 .works {
	margin-bottom: 8rem;	 
 }

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.work {
	overflow: hidden;
	border-radius: 7px;
	margin-bottom: 1rem;
	box-shadow: 0 0 4px black;
}

.work:hover {
	box-shadow: 0 0 8px black;
	cursor: pointer;
}

.work_content {
	padding: 1.125rem 1rem;
	background-color: #fcfcfc;
}

.work_cat {
	font-size: 0.81rem;
	color: var(--black);
	text-transform: uppercase;
	margin-bottom: 0.4rem;
}

.work_title {
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
	color: var(--black);
	font-weight: bold;
	text-transform: uppercase;
}

.about_inner {
	display: flex;
	margin-bottom: 7rem;
	margin-top: -2rem;
}

.about_photo {
	max-width: 50%;
	margin-left: 4.5rem;
	border-radius: 7px;
	box-shadow: 0 0 4px black;
}

.about_photo:hover {
	box-shadow: 0 0 8px black;
}

.about_content {
	width: 50%;
	margin-top: 6.7% ;
	padding-left: 8%;
}

.about_title {
	font-size: 2.8rem;
	font-weight: bold;
	color: var(--black);
	text-transform: uppercase;
}

.about_bigtitle {
	font-size: 2rem;
	font-weight: bold;
	color: #767676;
	text-transform: uppercase;
}

.about_text {
	margin-top: 2.5rem;
	margin-bottom: 3.150rem;

	font-size: 0.81rem;
	font-weight: 300;
	color: var(--gray);
}

.reviews {
	background: #332f30 center url("../img/reviews.png");
	padding: 3rem 0;
	position: relative;
}

.reviews_inner {
	width: 100%;
	max-width: 830px;
	margin: 0 auto;
}

.reviews_text {
	font-size: 0.9rem;
	color: var(--gray-light);
	text-align: center;
}

.reviews_author {
	width: 100%;
	margin-top: -51px;

	text-align: center;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
}

.reviews_author_icon {
	box-shadow: 0 4px 4px #767676;
	border-radius: 50%;
}

.reviews_author_icon:hover {
	box-shadow: 0 8px 8px #767676;
}

.reviews_company {
	margin: 1rem 0 0.3rem 0;

	font-size: 1rem;
	color: var(--black);
	font-weight: bold;
}

.reviews_name {
	margin-bottom: 0.5rem;

	font-size: 0.9rem;
	color: var(--gray);
	font-weight: 300;
	font-style: italic;
}

.reviews_rating {
	margin-bottom: 6rem;	
}

.reviews_star_unactive {
	opacity: 0.3;
}

.courses {
	margin-top: 12rem;
	margin-bottom: 8rem;
}

.subtitle {
	text-align: center;

	font-size: 1.1rem;
	color: var(--gray);
	font-weight: 300;
}

.margin {
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.courses_inner {
	margin-top: 3.5rem;
	display: flex;
	flex-wrap: wrap;
	/* border: 1px solid red; */
	justify-content: space-around;
}

.course {
	width: 33.33%;
	padding: 0 1rem;
	/* border: 1px solid green; */
	display: flex;
	flex-direction: column;
}

.course_photo {
	border-radius: 7px;
	box-shadow: 0 0 4px black;
	width: 95%;
	height: auto;
}


.course_photo:hover {
	box-shadow: 0 0 8px black;
}

.course_name {
	margin-top: 1.3rem;
	margin-bottom: 0.6rem;

	font-size: 1.1rem;
	color: var(--black);
	font-weight: bold;
}

.course_cat {
	margin-bottom: 1.3rem;

	font-size: 0.81rem;
	color: var(--gray);
}

.course_text {
	font-size: 0.81rem;
	color: var(--gray);
	font-weight: 300;
	overflow: hidden;
	position: relative;
	height: 64px;
	
	margin-bottom: 1rem;
}

.course_text:after {
	content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), #efefef 100%);
	pointer-events: none;
}

.course_border {
	/* border: 1px solid #c2c2c2; */
	padding: 2px;
	border-radius: 7px;
}

.footer {
	padding: 1rem 0;

	background-color: #2b2a2c;
}

.footer_inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer_info {
	display: flex;
	align-items: center;
}

.footer_copyright {
	font-size: 0.9rem;
	color: #79797a;

	padding-right: 1rem;
	margin-right: 1rem;

	border-right: 1px solid #79797a;
}

.footer_social {
	display: flex;
	align-items: center;
}

.footer_link {
	margin-right: 1rem;
	text-decoration: none;
}

.footer_nav {
	display: flex;
	align-items: center;
}

.footer_nav_link {
	margin-left: 1rem;

	font-size: 0.9rem;
	color: var(--gray);

	text-decoration: none;
}

/* Скролл */

::-webkit-scrollbar-button {
	width: 5px;
	height: 0px
}
	
::-webkit-scrollbar-track {
	border-radius: 5px;
}
	
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #858585;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #6a696b;
}

::-webkit-scrollbar{
	width: 7px;
}

* {
	scrollbar-width: thin;
 }

 
@media(max-width: 1199px) {
	.header_inner {
		margin: 0 2rem 0 1rem;
	}

	.intro {
		margin-top: -5rem;
	}

	.intro_inner {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: space-between;
		padding: 6rem 0 6rem 0;
		align-items: center;
		margin: 0 1rem;
	}

	.intro_subtitle {
		font-size: 1.5rem;
	}

	.intro_title {
		font-size: 2.3rem;
	}
	.intro_text {
		font-size: 1rem;
	}

	.left-block {
		margin-top: 9%;
	}

	.intro_photo {
		position: absolute;
		width: 30rem;
		margin: -1.5rem 0 -0.5rem 8.5rem;
	}

	.portfolio {
		margin: 0 1rem;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.text_center {
		margin-top: 1.3rem;
    	margin-bottom: 1.3rem;
		font-size: 2.5rem;
	}

	.works {
		margin-bottom: 2rem;
  }

	.work {
		width: 100%;
		margin: 0 1rem 1rem 0;
	}

	.work_content {
		padding: 1rem;
	}

	.work_photo {
		width: 100%;
	}

	.work_cat, .work_title {
		font-size: 1rem;
	}

	.about_inner {
		margin: 1rem 1rem 3rem 1rem;
	}

	.about_photo {
		width: 40%;
		height: 40%;
		margin-left: 1rem;
	}

	.about_content {
		display: flex;
		flex-direction: column;
		margin-top: 3%;
		padding: 0 2rem;
		margin-left: 5%;
	}

	.about_title {
		font-size: 2.5rem;
	}

	.about_bigtitle {
		font-size: 1.8rem;
	}

	.about_text {
		font-size: 1rem;
		margin-top: 2rem;
		margin-bottom: 1.5rem;
	}

	.course_name {
		font-size: 1rem;
		margin-top: 1rem;
	}

	.course_cat {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	.course_text {
		font-size: 1rem;
		margin-bottom: -1rem;
		overflow: hidden;
		position: relative;
		height: 56px;
		margin-bottom: 1rem;
	}

	.course_text:after {
		content: "";
		text-align: right;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 70%;
		height: 1.2em;
		background: linear-gradient(to right, rgba(255, 255, 255, 0), #efefef 100%);
		pointer-events: none;
	}

	.user, .nav{
		display: none;
	}

	.burger {
		display: block;
		width: 35px;
		height: 5px;
		background-color: var(--black);
		margin: 0.3rem 2rem;
		border-top-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
	 }

}

@media (max-width: 767px) {

	.intro_content{
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
	}

	.burger {
		margin: 0.3rem 1rem;
		width: 30px;
		height: 4px;
	}

	.intro_photo {
		position: relative;
    	width: 100%;
		margin: -1rem 0 -0.5rem 0;
	}

	.left-block {
		margin-top: 10%;
		margin-bottom: 10%;
	}

	.intro_inner {
		padding: 6rem 0 0 0;
		margin: 0;
	}

	.intro_title {
		font-size: 2rem;
	}

	.social {
		margin-top: 1.8rem;
		margin-bottom: 1.8rem;
	}
	
	#social_icon {
		width: 90%;
	}

	.btn {
		width: 6rem;
		height: 1.8rem;
		padding: 0;
		font-size: 0.8rem;
	}

	.portfolio {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		border-bottom: 1px solid #bdbdbd;
		margin: 0;
	}

	.text_center {
		font-size: 2rem;
	}

	.work {
		width: 100%;
		margin: 0 0 2rem 0;
	}

	.work_cat, .work_title {
		font-size: 0.8rem;
	}
	
	.about_inner {
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
	}

	.about_photo {
		min-width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	.about_content {
		margin: 1.8rem 0.7rem 1.8rem 0.7rem;
		width: 100%;
		padding: 0;
	}

	.about_title {
		font-size: 2rem;
	}

	.about_bigtitle {
		font-size: 1.5rem;
	}

	.about_text {
		margin: 1rem 0;
		font-size: 0.8rem;
	}
	
	.reviews {
		padding: 2rem 2rem 4rem 2rem;
	}

	.reviews_text {
		font-size: 0.8rem;
	}
	
	.reviews_author_icon {
		width: 5.5rem;
		height: 100%;
	}

	.courses_inner {
		margin-top: 2rem;
	}

	.courses {
		margin-bottom: 2rem;
	}

	.course {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 0 2rem 0;
		padding: 0;
		width: 100%;
	}

	.course_photo {
		width: 100%;
	}

	.course_name {
		font-size: 1rem;
	}

	.course_cat {
		font-size: 0.8rem;
	}

	.course_text {
		height: 47px;
		margin-bottom: 0.8rem;
		font-size: 0.8rem;
	}

	.text_center {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.footer_nav {
		display: none;
	}
}
