:root {
	--black: #2b2a2c;
	--gray: #6a696b;
	--gray-light: #dedede;
	--white: #ffffff;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: black;
}

h1, h2, h3, h4, h6, h6 {
	margin: 0;
}

p {
	margin: 0 0 1rem;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
	/* border: 1px solid green; */
}

.header {
	padding: 1.2rem 0;
	position: relative;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user {
	display: flex;
}

.user_avatar {
	border-radius: 50%;
	display: flex;
}

.user_content {
	padding-left: 9px;
}

.user_name {
	font-size: 1rem;
	color: var(--black);
	font-weight: bold;
	margin-bottom: 0.2rem;
}

.user_prof {
	font-size: 0.81rem;
	color: var(--black);
	opacity: 0.7;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
}

.nav_link {
	margin-left: 2rem;
	position: relative;
	font-size: 0.9rem;
	color: var(--black);
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.nav_link:hover {
	border-bottom: 2px solid var(--gray);
	padding: 0 0 4px;
}

.intro_inner {
	padding-top: 5rem;
	padding-bottom: 5rem;
	position: relative;

	border-bottom: 1px solid var(--gray);
}

/* Berik */

.intro_content{
	display: flex;
}
/* .left-block{
	border: 1px solid red;
}
.right-block{
	border: 1px solid green;
} */

@media (max-width: 767px) {

	.intro_content{
		display: flex;
		flex-direction: column-reverse;
	}
}








.intro_subtitle {
	color: var(--black);
	font-weight: 300;
	font-size: 2rem;
}

.intro_title {
	color: var(--black);
	font-weight: bold;
	font-size: 3rem;
	margin-bottom: 5px;
}

.intro_text {
	color: var(--black);
	font-size: 1.2rem;
	opacity: 0.7;
}

.social {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
}

.social_link {
	margin-right: 0.75rem;
	text-decoration: none;
}

.social_link:hover {
	transform: translateY(-5px);
}

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 1rem 2rem;
	width: 12.5rem;
	height: max-content;

	border: 1px solid black;
	border-radius: 1.8rem;
	background: none;
	cursor: pointer;

	font-size: 1rem;
	color: var(--black);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	opacity: 0.7;
}

.btn:hover {
	background: black;
	color: white;
}

.intro_photo {
	position: absolute;
	width: 34rem;
	bottom: -1px;
	right: 0%;
	z-index: 2;
	margin-bottom: 2rem;
	border-radius: 10px;
 }

 .text_center {
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 2.8rem;
	color: var(--black);
	font-weight: bold;
	text-transform: uppercase;
 }

 .works {
	margin-bottom: 8rem;	 
 }

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.work {
	overflow: hidden;
	box-shadow: 0 0 4px black;
	border-radius: 10px;
	margin-bottom: 1rem;
}

.work:hover {
	box-shadow: 0 0 15px black;
	cursor: pointer;
}

.work_content {
	padding: 1.125rem 1rem;
}

.work_cat {
	font-size: 0.81rem;
	color: var(--black);
	text-transform: uppercase;
	margin-bottom: 0.4rem;
}

.work_title {
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
	color: var(--black);
	font-weight: bold;
	text-transform: uppercase;
}

.about_inner {
	display: flex;
	margin-bottom: 7rem;
	margin-top: -2rem;
}

.about_photo {
	max-width: 50%;
	/* padding-left: 4.5rem; */
	margin-left: 4.5rem;
	border-radius: 10px;
}

.about_content {
	width: 50%;
	margin-top: 3.6rem;
	padding-left: 6.7rem;
}

.about_title {
	font-size: 2.8rem;
	font-weight: bold;
	color: var(--black);
	text-transform: uppercase;
}

.about_bigtitle {
	font-size: 2rem;
	font-weight: bold;
	color: var(--gray-light);
	text-transform: uppercase;
}

.about_text {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;

	font-size: 0.81rem;
	font-weight: 300;
	color: var(--gray);
}

.reviews {
	background: #332f30 center url("../img/reviews.png");
	/* background-image: url("img/angular_logo.png"); */
	padding: 3rem 0;
	position: relative;
	/* background: transparent; */
}

.reviews_inner {
	width: 100%;
	max-width: 830px;
	margin: 0 auto;
}

.reviews_text {
	font-size: 0.9rem;
	color: var(--gray-light);
	text-align: center;
}

.reviews_author {
	width: 100%;
	margin-top: -51px;

	text-align: center;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
}

.reviews_company {
	margin-bottom: 0.3rem;

	font-size: 1rem;
	color: var(--black);
	font-weight: bold;
}

.reviews_name {
	margin-bottom: 0.5rem;

	font-size: 0.9rem;
	color: var(--gray);
	font-weight: 300;
	font-style: italic;
}

.reviews_rating {
	margin-bottom: 6rem;	
}

.reviews_star_unactive {
	opacity: 0.3;
}

.courses {
	margin-top: 12rem;
	margin-bottom: 8rem;
}

.subtitle {
	text-align: center;

	font-size: 1.1rem;
	color: var(--gray);
	font-weight: 300;
}

.margin {
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.courses_inner {
	margin-top: 3.5rem;
	display: flex;
	flex-wrap: wrap;
}

.course {
	width: 33.33%;
	padding: 0 1rem;
}

.course_photo {
	border-radius: 10px;
}

.course_name {
	margin-top: 1.3rem;
	margin-bottom: 0.6rem;

	font-size: 1.1rem;
	color: var(--black);
	font-weight: bold;
}

.course_cat {
	margin-bottom: 1.5rem;

	font-size: 0.81rem;
	color: var(--gray);
}

.course_text {
	font-size: 0.81rem;
	color: var(--gray);
	font-weight: 300;
}

.btn_edit {
	margin-top: 1rem;
	width: 130px;
	height: 34px;

	font-size: 0.9rem;
	padding: 0.5rem 0.75rem;
}

.footer {
	padding: 1rem 0;

	background-color: #2b2a2c;
}

.footer_inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer_info {
	display: flex;
	align-items: center;
}

.footer_copyright {
	font-size: 0.9rem;
	color: #79797a;

	padding-right: 1rem;
	margin-right: 1rem;

	border-right: 1px solid #79797a;
}

.footer_social {
	display: flex;
	align-items: center;
}

.footer_link {
	margin-right: 1rem;
	text-decoration: none;
}

.footer_nav {
	display: flex;
	align-items: center;
}

.footer_nav_link {
	margin-left: 1rem;

	font-size: 0.9rem;
	color: var(--gray);

	text-decoration: none;
}

@media(max-width: 1199px) {
	.header_inner {
		margin: 0 2rem;
	}

	.intro {
		margin-top: -5rem;
	}
	.intro_inner {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: space-between;
		padding: 5rem 0 1rem 0;
		align-items: center;
		margin: 0 2rem;
	}

	.intro_photo {
		width: 100%;
		position: relative;
	}

	.portfolio {
		margin: 2rem;
	}

	.work {
		width: 100%;
		margin-bottom: 3rem;
	}

	.work_content {
		padding: 2rem;
	}

	.work_photo {
		width: 100%;
	}

	.work_cat {
		font-size: 1.2rem;
	}

	.work_title {
		font-size: 1.5rem;
	}

	.about_inner {
		margin: 2rem 2rem 7rem 2rem;
	}

	.about_photo {
		width: 100%;
		height: 100%;
		margin-left: 1rem;
	}

	.about_content {
		display: flex;
		flex-direction: column;
		margin-top: 2.8rem;
		padding: 0 2rem;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.about_bigtitle {
		font-size: 2rem;
	}

	.about_text {
		font-size: 1rem;
		margin-top: 2.5rem;
		margin-bottom: 1.5rem;
	}

	.course {
		width: 100%;
		margin-bottom: 3rem;
	}

	.courses_inner {
		margin: 2rem;
	}

	.course_photo {
		width: 100%;
	}

	.course_name {
		font-size: 2rem;
	}

	.course_cat {
		font-size: 1rem;
	}

	.course_text {
		font-size: 1rem;
		margin-bottom: -1rem;
	}
}
